@charset "UTF-8";
/* 전체 페이지 스타일 */
body {
    font-family: 'Malgun Gothic', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
    margin: 0;
}

/* 폼을 감싸는 컨테이너 */
.find-container {
    width: 100%;
    max-width: 420px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
.find-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}
.find-container p {
    text-align: center;
    color: #888;
    margin-bottom: 30px;
}

/* 입력 필드를 감싸는 그룹 */
.input-group {
    margin-bottom: 20px;
}

/* 입력 필드 (text) */
.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩이 너비를 넘어가지 않도록 설정 */
}

/* 버튼 스타일 */
.submit-btnp {
    width: 100%;
    padding: 15px;
    background-color: #26a69a; /* 포인트 컬러 변경 */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}
.submit-btnp:hover {
    background-color: #00897b;
}

/* 추가 옵션 링크 */
.extra-links {
    text-align: center;
    font-size: 14px;
}
.extra-links a {
    color: #555;
    text-decoration: none;
    margin: 0 10px;
}
.extra-links a:hover {
    text-decoration: underline;
}

.submit-btn2 {
    width: 100%;
    padding: 13px;
    background-color: #26a69a; /* 포인트 컬러 변경 */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.submit-btn2:hover {
    background-color: #00897b;
}

.link{
	font-size: small;
	color: #333;
}

.link_wrap{
	padding-top:10px ;
	text-align: center;
}

